html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: brown;
}

.main {
  margin: auto;
  width: 426px;
  height: 100vh;
  background: url(./img/bg.jpg) repeat-y center top;
  background-size: 100% auto;
  animation: background 1.5s linear 0s infinite;
  position: relative;
}

.car {
  width: 99px;
  height: 200px;
  background: url(./img/car.png) no-repeat center;
  background-size: 100% 100%;
  animation: car 0.5s linear 0s infinite;
  position: absolute;
  top: 50%;
  transition: 0.1s all ease;
}

.car:not(.right) {
  left: 97px;
}

.car.right {
  left: 227px;
}

@keyframes background {
  from {
    background-position: bottom;
  }

  to {
    background-position: top;
  }
}

@keyframes car {
  from,
  to {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(calc(-50% + 5px));
  }
}
