@import url("https://fonts.googleapis.com/css2?family=Montserrat");

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .intro-img,
.title,
.subtitle,
.social-media .social-title {
  transition: 0.25s all ease;
}

.title:not(:hover),
.subtitle:not(:hover),
.social-media .social-title:not(:hover) {
  letter-spacing: 0;
}

.title:hover,
.subtitle:hover,
.social-media .social-title:hover {
  letter-spacing: 5px;
}

@keyframes object {
  from {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
