.intro {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.intro .intro-img {
  border-radius: 100%;
  margin-bottom: 25px;
  animation: object 1s ease 0s 1 normal;
}

.intro .intro-img:not(:hover) {
  transform: translateY(0);
}

.intro .intro-img:hover {
  transform: translateY(-10px);
}

.title,
.subtitle,
.description {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.title {
  animation: object 1.5s ease 0s 1 normal;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12.5px;
}

.subtitle {
  animation: object 2s ease 0s 1 normal;
  font-size: 24px;
}

@media only screen and (max-width: 767.99px) {
  .intro {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    width: 400px;
  }
}
